@-webkit-keyframes pulse {
 from { opacity: 0; }
 to { opacity: 1.0; }
}

body {
  color: #333333;
  background: #111111 none repeat scroll 0% 0%;
  font-family: Helvetica;
  margin: 0px;
  width: 100%;    
}

.status-box {
  border-bottom: 4px dotted #333333;  
}

.status-box + .small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.status-box ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.status-box li {
  display: inline-block;
}

.upstream {
  width: 48%;
}

.status {
  font-size: 125px;
  font-weight: bold;
  letter-spacing: -2px;
  padding-left: 25px;
  padding-right: 10px;
}

.details, .commit-message {
  display: block;
  padding-left: 25px;  
  margin-left: 5px;    
}

.details {
  font-size: 35px;
  color: #F5B800;
}

.commit-message {
	display: block;
	color: cyan;   
  font-size: 30px;	
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;	
}

.env {
  font-size: 90px;
  margin-right: 30px;  
}

.small {
  font-size: 45px;
  letter-spacing: normal;  
}

.success {
  color: #00FF00;
}

.failure {
  color: #FF0000;
}

.building {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

#top-git {
  color: yellow;
  height: 200px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  margin: 15px;
}

#top-git .total {
  font-size: 90px;
  text-align: left;
}

#top-git .commiter {
  text-align: left;
  display: block;
  font-size: 30px;
}

#top-git .commiter.odd {
  color: #F5B800;
}

#top-git .commiter.even {
  color: #F5B800;
}

.people {
  float: right;
}

.people img {
  width: 150px;
  height: 150px;
  padding-left: 10px;
}

.stars { 
	position: relative;
	width: 91px;
	height: 17px;
	margin-left: 20px;
}
.stars .cover {
	position: absolute;
	background: transparent url(/images/no-stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 91px;
	height: 17px;
	z-index: 101;
}
.stars .progress {
	position: absolute;
	background: transparent url(/images/full-stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 17px;
	z-index: 102;
}